{% extends "base.html" %}
{% block title %}
    Создать новую группу
{% endblock %}
{% block content %}
  {% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-7 mb-3 mt-1">
        <div class="card">
          <div class="card-header">
              Создать новую группу
          </div> <!--"card-header" -->
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group row"
                     aria-required={{ field.field.required }}>
                <label for="{{ field.id_for_label }}"
                       class="col-md-12 col-form-label text-md-right">
                  {{ field.label }}{% if field.required %}
                    <span class="required">*
                                </span>{% endif %}</label>
                <div class="col-md-12">
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help"
                           class="form-text text-muted">
                      {{ field.help_text|safe }}</small>
                  {% endif %}
                </div> <!-- "col-md-11"-->
              </div> <!-- "form-group row"-->
              {% endfor %}
            <div class="col-md-6 offset-md-8 mr-1">
                <button type="submit" class="btn btn-primary ml-1 mr-1">
                    Создать группу
                </button>
              </div> <!-- "col-md-5 offset-md-11"-->
            </form>
          </div> <!-- "card-body"-->
        </div> <!-- "card"-->
      </div> <!-- col-md-8 mb-3 mt-1-->
    </div> <!-- row-->
  </main>
{% endblock %}